<center>
  <h1>Add a new bookmark</h1>
  <br><br>

   <form method="post" action="/save_url" >
      <input type="text" name="url" placeholder="URL" />
      <input type="text" name="title" placeholder="Title" />
      <input value="Save" type="submit" name="Save" />
   </form>
</center>
