<center>
  <form action="/add" method="get">
    <input value="Add" type="submit" name="Add Link">
  </form>
</center>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>
