<center>
  <form action="/add" method="get">
    <input value="Add Link" type="submit">
  </form>
</center>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li><br>
  <% end %>
</ul>
